.lck
*.class
/components/basys.components/WebContent/WEB-INF/lib/jdbc/postgresql-42.2.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/aopalliance-repackaged-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/cdi-api-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/el-api-2.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-api-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-locator-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/hk2-utils-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javassist-3.22.0-CR2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.annotation-api-1.2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.inject-1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.inject-2.5.0-b42.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json-api-1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.json.bind-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/javax.servlet-api-3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jaxb-api-2.2.7.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jboss-interceptors-api_1.1_spec-1.0.0.Beta1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/jsr250-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/org.osgi.core-4.2.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/osgi-resource-locator-1.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/persistence-api-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/validation-api-1.1.0.Final.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/ext/yasson-1.0.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/javax.ws.rs-api-2.1.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-client.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-common.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-container-servlet-core.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-container-servlet.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-hk2.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-jaxb.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-json-binding.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-media-sse.jar
/components/basys.components/WebContent/WEB-INF/lib/jersey/jersey-server.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/LICENSE
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/NOTICE
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/activation-1.1.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-codec-1.11.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-collections4-4.2.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-logging-1.2.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/commons-math3-3.6.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-api-2.3.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-core-2.3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/jaxb-impl-2.3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/junit-4.12.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/lib/log4j-1.2.17.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/ooxml-lib/curvesapi-1.05.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/ooxml-lib/xmlbeans-3.0.1.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-examples-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-excelant-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-ooxml-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-ooxml-schemas-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/poi-4.0.0/poi-scratchpad-4.0.0.jar
/components/basys.components/WebContent/WEB-INF/lib/saxonxmlparser/saxon9-xqj.jar
/components/basys.components/WebContent/WEB-INF/lib/saxonxmlparser/saxon9he.jar
/components/basys.components/WebContent/WEB-INF/lib/sdk/basyx_sdk.jar
/.vs
/sdks/dotnet/.vs/BaSyx
launchSettings.json
.project
*.pubxml
Properties


# Created by https://www.toptal.com/developers/gitignore/api/java,intellij+all
# Edit at https://www.toptal.com/developers/gitignore?templates=java,intellij+all

### Intellij+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij+all Patch ###
# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/*

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

# Sonarlint plugin
.idea/sonarlint

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java,intellij+all
